.dropdown-content {
    top: 100% !important;
}

#veteran-connect-logo {
    padding-left: 20px;
}

.dropdown-trigger {
    font-weight: bold;
}


/* Login/register pages */
.asterisk {
    color: red;
}