.dropdown-content {
    top: 100% !important;
}

#veteran-connect-logo {
    padding-left: 20px;
}

.dropdown-trigger {
    font-weight: bold;
}


/* Login/register pages */
.asterisk {
    color: red;
}

/* Homepage */
.image-container {
    position: realative;
}

.image-container img {
    height: 100%;
    width: 100%;
}

.image-container h3 {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
}

.image-container h3 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    background: rgba(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.image-container h3 span.spacer {
    padding: 0 5px;
}

.homepage-cards i {
    font-size: 80px;
}

@media only screen and (max-width: 600px) {
    #desktop-salute {
        display: none;
    }
    #mobile-salute {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    #desktop-salute {
        display: block;
    }
    #mobile-salute {
        display: none;
    }
}

/* Posting a job */

.datepicker-date-display {
    background-color: #01579b;
}