<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Veteran Connect | {% block title%}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes" style="display: none;">
            {% for category, message in messages %}
            <li class="flash-message-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper light-blue darken-4">
                <a href="/" class="brand-logo" id="veteran-connect-logo">Veteran Connect</a>
                <ul id="nav-dropdown" class="dropdown-content">
                    {% if session['user_id'] %}
                    <li><span id="sign-out-dropdown">Sign Out</span></li>
                    <li class="divider"></li>
                    <li><a href="/profile">Profile</a></li>
                    {% else %}
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/employment">Employment</a></li>
                    <li><a href="#">Community Service</a></li>
                    <li><a href="#">Chat</a></li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="nav-dropdown">
                            {% if session['user_id'] %}
                            {{session['username']}}
                            {% else %}
                            Anonymous
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        
        {% block content %}{% endblock %}
        
    </main>

    <!-- future footer -->
    <footer class="page-footer light-blue darken-4">
        <div class="container light-blue darken-4">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Veteran Connect</h5>
              <p class="grey-text text-lighten-4" style="white-space: pre;">© 2019 A G I L E   E N H A N C E D </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Who We Are</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>

    <script>
        // Init materialize stuff
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            options = {
                "alignment":"right"
            }
            var instances = M.Dropdown.init(elems, options);
        });

        // Process Flashes
        var success_flashes = document.getElementsByClassName("flash-message-success");
        for(var i = 0; i < success_flashes.length; i++) {
            M.toast({
                html: success_flashes[i].innerHTML,
                classes: "rounded light-blue darken-4"
            })
        }

        var success_flashes = document.getElementsByClassName("flash-message-error");
        for(var i = 0; i < success_flashes.length; i++) {
            M.toast({
                html: success_flashes[i].innerHTML,
                classes: "rounded red darken-4"
            })
        }
        
    </script>
    <script>
        const BASE_URL = 'http://35.245.223.73'; // Google Base URL
        // const BASE_URL = 'http://127.0.01:5000'

        window.BASE_URL = BASE_URL;

        // functions for actions

        function signOut(username) {
            if (!username) {
                return false;
            }

            fetch(BASE_URL + '/user/logout', {
                method: "POST",
                body: {
                    'username':username
                }
            }).then(resp => {
                console.log("Logged out!")
                location.reload();
            })

        }

        /*
        EVENT LISTENERS
        */
        dropdown = document.getElementById("sign-out-dropdown")
        if (dropdown) {
            dropdown.addEventListener('click', function() {
                signOut('{{session['username']}}')
            })
        }
    </script>
    <!-- <script type="text/javascript" src="/static/js/base.js"></script> -->
</body>
</html>
