{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Chat{% endblock %}</h1>
{% endblock %}

{% block content %}
    
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Mobile feature only</h1>
      <div class="row center">
        <h5 class="header col s12 light">Chat has been implemented inside of our android app</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light indigo darken-4">Download</a>
      </div>
      <br><br>

    </div>
  </div>


{% endblock %}