{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Display Cards for each aspect of the app -->
<div class="container" id="card-content">
    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/man.png">
                    <span class="card-title">Employment</span>
                </div>
                <div class="card-content">
                  <p>Find employment opportunities specifically available to you.</p>
                 </div>
                <div class="card-action">
                  <a href="/employment">Go to Employment</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/community.jpg">
                    <span class="card-title">Community Service</span>
                </div>
                <div class="card-content">
                    <p>Find and help local organizations to build your community.</p>
                </div>
                <div class="card-action">
                    <a href="#">Go to Community Service</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/chat.jpg">
                    <span class="card-title">Chat</span>
                </div>
                <div class="card-content">
                    <p>Talk to other veterans to ask any questions you might have.</p>
                </div>
                <div class="card-action">
                    <a href="#">Go to Chats</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/benefitsish.jpg">
                    <span class="card-title">Benefits</span>
                </div>
                <div class="card-content">
                    <p>Benefits available to you as a veteran.</p>
                </div>
                <div class="card-action">
                    <a href="#">Go to Benefits</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/story.jpg">
                    <span class="card-title">Tell your story</span>
                </div>
                <div class="card-content">
                    <p>Tell others about who you are.</p>
                </div>
                <div class="card-action">
                    <a href="/profile">Go to Profile</a>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/construction.jpg">
                    <span class="card-title">Coming Soon</span>
                </div>
                <div class="card-content">
                    <p>Come back later.</p>
                </div>
                <div class="card-action">
                    <a href="/profile">link tbd</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}