{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Display Cards for each aspect of the app -->
<div class="container">
    <h4>Companies looking for you</h4>
    <p>Many companies are hiring for people who have active security clearances.  
       If yours is still active, you should check out these job postings.</p>

    {% if session["employer"] %}
        <div class="fixed-action-btn">
            <a class="btn btn-large light-green darken-4" href="/employment/employer">
                Create a Posting
            </a>
        </div>
    {% endif %}

    <ul class="collection">
        
        {% if session["jobs"] %}
            {% for job in session["jobs"] %}

                <li class="collection-item">
                    <h5>{{job['title']}}</h5>
                    <i>{{job['industry']}}</i>
                    {% for para in job['description'] %}
                    <p>{{para}}</p>
                    {% endfor %}
                </li>

            {% endfor %}
        {% endif %}
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);
    });
</script>

{% endblock %}