{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Display Cards for each aspect of the app -->
<div class="container">
    <h4>Companies looking for you</h4>
    <p>Many companies are hiring for people who have active security clearances.  
       If yours is still active, you should check out these companies.</p>
    <ul class="collection">
        <li class="collection-item">
            <a href="https://www.clearancejobs.com/">ClearanceJobs</a>
        </li>
        <li class="collection-item">
                <a href="https://www.clearancejobs.com/">ClearanceJobs</a>
        </li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
    </ul>


</div>

{% endblock %}