{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Display Cards for each aspect of the app -->
<div class="container">
    <h4>Companies looking for you</h4>
    <p>Many companies are hiring for people who have active security clearances.  
       If yours is still active, you should check out these job postings.</p>

    {% if session["employer"] %}
        <a href="/employment/employer">Add a job posting</a>
    {% endif %}

    <ul class="collection">
        
        {% if session["jobs"] %}
            {% for job in session["jobs"] %}

                <li class="collection-item">
                    <h5>{{job['title']}}</h5>
                    <i>{{job['industry']}}</i>
                    <p>{{job['description']}}</p>
                </li>

            {% endfor %}
        {% endif %}
    </ul>

</div>

{% endblock %}