{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Overview of what VeternConnect is all about -->
<!-- We're fighting to give all veterans the opportunities they deserve -->
<div class="image-container grey darken-2">
    <img id="desktop-salute" src="static/img/salute.jpg" alt="Veteran Saluting">
    <img id="mobile-salute" src="static/img/salute-mobile.jpg" alt="Veteran Saluting">
    <h3><span>We're here to help veterans connect with other veterans and their local communities</span></h3>
</div>

<div class="section center grey darken-2 white-text">
    <div class="container homepage-cards">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-content black-text">
                        <span class="card-title">Employment</span>
                        <br />
                        <i class="material-icons">work</i>
                        <p class="flow-text">Find and post jobs catering specifically to veterans</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-content black-text">
                        <span class="card-title">Community Service</span>
                        <br />
                        <i class="material-icons">trending_up</i>
                        <p class="flow-text">Find local community service and volunteering opportunities, either as a veteran or for veterans</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-content black-text">
                        <span class="card-title">Connections</span>
                        <br />
                        <i class="material-icons">message</i>
                        <p class="flow-text">Talk to other veterans and ask any questions you might have</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}