{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}

<div class="row valign-wrapper my-wrapper ">
    <div id="content" class="container col s6">
        <h3 style="text-align: center;">Login</h3>
        <form action="/site/user/login" method="POST">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect indigo darken-4 white-text" type="submit">
                    Log In
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock %}