
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="row valign-wrapper my-wrapper ">
    <div id="content" class="container col s6">
    
        <form action="/user/register" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input class="waves-effect blue darken-3 btn" type="submit" value="Register">
        </form>

    </div>
</div>
{% endblock %}