{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="row valign-wrapper my-wrapper ">
    <div id="content" class="container col s6">
        <h3 style="text-align: center;">Register</h3>
        <form action="/site/user/register" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <label for="username">Username <span class="asterisk">*</span></label>
                    <input class="s6" type="text" name="username" id="username" required>
                </div>
                <div class="input-field col s6">
                    <label for="first_name">First Name </label>
                    <input class="s6" type="text" name="first_name" id="first_name">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="password">Password <span class="asterisk">*</span></label>
                    <input class="s6" type="password" name="password" id="password" required>
                </div>
                <div class="input-field col s6">
                    <label for="last_name">Last Name </label>
                    <input class="s6" type="text" name="last_name" id="last_name">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="conf-password">Confirm Password <span class="asterisk">*</span></label>
                    <input class="s6" type="password" name="conf-password" id="conf-password" required>
                </div>
                <div class="input-field col s6">
                    <label for="email">Email Address </label>
                    <input class="s6" type="text" name="email" id="email">
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect indigo darken-4" type="submit">
                    Register
                </button>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        // set onchange handlers to validate passwords
        document.getElementById('password').onchange = validatePassword;
        document.getElementById('conf-password').onchange = validatePassword;
    }

    function validatePassword() {
        var password_1 = document.getElementById('password').value;
        var password_2 = document.getElementById('conf-password').value;
        console.log("found passwords:", password_1, password_2)

        if (password_1 !== password_2) {
            document.getElementById('conf-password').setCustomValidity("Mismatching Passwords!")
        } else {
            document.getElementById('conf-password').setCustomValidity("")
        }
    }
</script>
{% endblock %}